/*textTooltip*/
span[id^="tooltip"]:hover {
  background-color: #e7e9eb;
  cursor: pointer;
}
#skopos-tooltip {
  font-family: Porsche Next;
}
.show {
  display: inline-block;
}
.hide {
  display: none !important;
}
